
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-...." crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-...." crossorigin="anonymous"></script>

    <title>Show Comparetive</title>

    <style>
      table {
        text-align: center;
      }
      .item-name {
        display: flex;
        font-weight: bolder;
        font-size: 1.2em;
      }
      thead tr th {
        text-align: center;
      }
      #description {
        width: 800px;
        max-width: 800px;
      }
      #serial {
        width: 40px;
      }
      tbody tr td:nth-child(2) {
        text-align: left;
      }

      
    </style>
</head>
<body>
    <div class="container">
      <div class="row">
          <h3 class="text-center">Comparetive Statement of {{cs.title}}</h3>
          <h4 class="text-center" >Project: {{cs.project_name}}</h4>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th id="serial" scope="col">#</th>
            <th id="description" scope="col">Description</th>
            <th id="unit" scope="col">Unit</th>
            {% if app_c > 0 %}
            <th id="apprx" scope="col">Apprx. Qty.</th>
            {% endif %}
            <th id="price" scope="col">Price</th>
          </tr>
        </thead>
        {% if price_list %}
      <div>
        {%else%}
      <form action="{% url 'tendering:price-comparison' cs.id %}" method="post" id="item-price-form">
        {%csrf_token%}
        {%endif%}
        {{formset.management_form}}
        <tbody id="item-price-body">
          {% for item in items %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              <span class="item-name">{{ item.name }} :</span>
              {{ item.description }}
            </td>
            <td>{{ item.unit }}</td>
            {% if app_c > 0 and item.apprx_qty is not None %}
            <td>{{ item.apprx_qty }} {{ item.unit }}</td>
            {% elif app_c > 0 %}
            <td>N / A</td>
            {% endif %}
            <td>
              {%if price_list%}
              {% for price in price_list %}
              {% if price.item == item%}
              {{price.price}}
              {%endif%}
              {%endfor%}
              {%else%}
              <input type="number" name="item_price-{{forloop.counter0}}-price" value="0" class="form-control item-price" min="0" >
              {%endif%}
            </td>
              <input type="hidden" name="item_price-{{forloop.counter0}}-extra_field" value="{{item.id}}" class="form-control">
          </tr>
        {% endfor %}
        </tbody>
        {% if price_list %}
      </div>
        <a href="{% url 'tendering:edit-comparison' cs.id %}" class="btn btn-primary m-4 ml-0">Edit Price</a>
        {%else%}
        <button class="btn btn-danger m-4 ml-0" type="submit">Bid</button>
      </form>
        {%endif%}
      </table>
      
      
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var form = document.getElementById("item-price-form");
          var formsetPrefix = "{{ formset.prefix }}";
          var totalFormsInput = document.getElementById("id_" + formsetPrefix + "-TOTAL_FORMS");
          var itemPriceBody = document.getElementById("item-price-body");
  
          function updateTotalForms() {
              var priceInputs = itemPriceBody.querySelectorAll(".item-price");
              totalFormsInput.value = priceInputs.length;
          }
  
          // Add event listeners to dynamically added price inputs
          itemPriceBody.addEventListener("input", function(event) {
              if (event.target.classList.contains("item-price")) {
                  updateTotalForms();
              }
          });
  
          // Initial update on page load
          updateTotalForms();
      });
  </script>
</body>
</html>